{% extends "layout-admin.njk" %}

{% block head %}

    <title>{{recipe.title}}</title>
    <link rel="stylesheet" href="styles.css">

{% endblock %}

{% block content %}

   <div class="recipe-edit">

        <form method="POST" action="/admin/recipes">

        <div class="header_edit_admin">
            
            <h2>Criar receita</h2>

            <div class="buttons_edit_admin">
                <button type="submit" class="button_action button_save" >Salvar receita</button>

            </div>

        </div>
        
        {% include 'admin/fields-recipes.njk' %}


    </div>

{% endblock %}