{% extends "layout.njk" %}

{% block head %}

    <title>Detalhes da Receita - Foodfy</title>
    <link rel="stylesheet" href="styles.css">

{% endblock %}

{% block content %}

        
        <img src="{{content.image}}" alt="Imagem de {{content.title}}">

        <div class="card_content">
            <h2>{{ content.title }}</h2>

        </div>
        <div class="card_info">
            <p>por {{content.author}}</p> 
        </div>


{% endblock %}