{% extends "layout-admin.njk" %}

{% block head %}

    <title>{{recipe.title}}</title>
    <link rel="stylesheet" href="/styles.css">

{% endblock %}

{% block content %}

    <div class="recipe-edit">

        <form method="POST" action="/admin/recipes?_method=PUT">

        <div class="header_edit_admin">
            
            <h2>Editando receita</h2>

            <div class="buttons_edit_admin">
                <button type="submit">Salvar</button>

                <form class="button-delete" action="/admin/recipes?_method=DELETE" method="post">
                    <input type="hidden" name="id" value={{recipe.id}}>
                    <button type="submit">Deletar</button>
                </form>

            </div>

        </div>
        {% include 'admin/fields-recipes.njk' %}


    </div>


    <script src="/scripts.js"></script>

{% endblock %}