{% extends "layout-admin.njk" %}

{% block content %}

    <div class="content">
        <h2>Mais acessadas</h2>
    </div>
    <section class="cards">
        
        {% for contents in content %}

        <div class="card" id="{{contents.title}}">
            <div class="card_image_container" >
                <img src="{{contents.image}}" alt="Imagem de {{contents.title}}">
            </div>
            <div class="card_content">
                <h2>{{ contents.title }}</h2>

            </div>
            <div class="card_info">
                <p>por {{contents.author}}</p> 
            </div>
        </div>

        {% endfor %}
        
    </section>

    
    <script src="scripts.js"></script>

{% endblock %}